page-location {
  sebm-google-map {
    height: 800px;
    padding: 0;
    margin: 0;
  }


  .waiting_location_grid{
    height: 100%;
    display: block;
  }

  .waiting_location{
    vertical-align: middle;
  }
}
